.container
  .row
    .col-md-6
    .col-md-6.patient-index
      %input.patient-search{type: "text", placeholder: "Search Patients"}
      %input.hospital-id{type:"hidden", name:"hospital_id", value: @hospital.id}
      %button.patientsearch-button Search

      %h1 List of Patients
      = link_to "Add Patient", new_hospital_patient_path(@hospital)
      
      .rendered-patients
        = render 'patient_list'