<h1>List of Hospitals</h1>

<%= link_to "Add Hospital", new_hospital_path %>

<ul>
  <% @hospitals.each do |h| %>
  <li><%= h.hospital_name %></li>
  <%= link_to "Show", hospital_path(hospital) %>
  <% end %>
</ul>

<!-- make sure patient_path is correct -->